<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- 放行的 -->
	<http pattern="/js/**" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>
	<http pattern="/seller/add" security="none"></http>
	<http pattern="/shoplogin.html" security="none"></http>
	<http pattern="/register.html" security="none"></http>
	
	<!-- 默认为true，表达式语法忽略 -->
	<http use-expressions="false">
		<!-- /* 和 /** 有什么区别：拦截请求的路径；/*是拦截一级目录：lcoalhost:8081/login.html；/**是拦截所有目录 : lcoalhost:8081/admin/index.html-->
		<intercept-url pattern="/**" access="ROLE_SELLER"/>
		<!-- 设置登录页面的 -->
		<form-login login-page="/shoplogin.html" default-target-url="/admin/index.html" always-use-default-target="true"/>
		<logout logout-url="/logout" invalidate-session="true" logout-success-url="/shoplogin.html"></logout>
		<!-- 跳过浏览器认证 -->
		<csrf disabled="true"/>
		<!-- 放行页面中的框架拦截: SAMEORIGIN:不拦截 -->
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
	</http>

	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pinyougou-shop-web" />
	<dubbo:registry address="zookeeper://192.168.25.128:2181"/>
	<dubbo:reference id="sellerService" interface="com.pinyougou.manager.service.SellerService"></dubbo:reference>


	<!-- 配置认证器 -->
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailServiceImpl">
			<password-encoder ref="bCryptPasswordEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>
	
	<!-- 密码编码类管理 -->
	<beans:bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>
	<!-- 认证类 -->
	<beans:bean id="userDetailServiceImpl" class="com.pinyougou.shop.service.UserDetailServiceImpl">
		<!-- 把set方法中的sellerService注入过去 -->
		<beans:property name="sellerService" ref="sellerService"></beans:property>
	</beans:bean>
</beans:beans>